@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src: url("../public/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../public/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("../public/fonts/OpenSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../public/fonts/OpenSans-Regular.ttf") format("truetype");
}
